<div class="quick-view" data-id>
	<div class="quick-view-inner">
		<button class="quick-view-close secondary-button close-button">{%- render 'icon', code: 'close-thin' -%}</button>
		<div class="quick-view-content"></div>
	</div>
</div>
