<div class="compare-box">
	<div class="compare-inner">
		<button class="compare-close secondary-button close-button">
			<span class="tooltip">{{- 'popup.close' | t -}}</span>
			{%- render 'icon', code: 'close-thin' -%}
		</button>

		<div class="compare-content"></div>
	</div>
</div>
