<div class="hover-animated product-item-list product-card text-left">
	<div class="box-img-product">	
		<div class="border-radius-theme product-image-wrap">
			{{- 'image' | placeholder_svg_tag: 'placeholder-svg product-image' -}}
		</div>
	</div>

	<div class="product-content-wrap">
		<h2 class="product-title">
			<span>{{- 'onboarding.products.title' | t -}}</span>
		</h2>

		<div class="product-card-bottom">
			<div class="product-price">
				<span class="price">
					<span class="sr-only">Sale price</span>
					$55.00
				</span>
				<s class="regular-price">
					<span class="sr-only">Regular price</span>
					$56.00
				</s>
			</div>
		</div>
	</div>	
</div>
