{%- unless section.settings.full -%}<div class="container">{%- endunless -%}
	{%- for block in section.blocks -%}
		{%- render block -%}
	{%- endfor -%}
{%- unless section.settings.full -%}</div>{%- endunless -%}

{% schema %}
{
	"name": "t:sections.apps.name",
	"tag": "section",
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:sections.apps.settings.full.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		}
	],
	"presets": [
		{
			"name": "t:sections.apps.presets.name"
		}
	]
}
{% endschema %}
